
.header {
    background: url('/img/banner.jpg') center/cover repeat-x; /* Center the image, cover the container, and repeat horizontally */
    color: #fff;
    text-align: center;
    padding: 10px;
}

.companyName {
    margin: 10px;
    font-size: 24px; /* Adjust font size for smaller screens */
}

.companyAddress {
    text-align: center;
    color: #fff;
    font-size: 16px; /* Adjust font size for smaller screens */
}

.companyAddress p {
    margin: 5px 0; /* Reduce the gap between paragraphs */
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .companyName {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .companyAddress {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
