
  
  .deletebutton {
    padding: 2px 4px; /* Adjust padding as needed for a bigger button */
    background-color: #ff4d4d; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    margin-left: 5px; /* Adjust margin as needed */
    border-radius: 5px;
    font-size: 1em;
    transition: color 0.3s ease; /* Rounded corners */
}

.deletebutton:hover {
    background-color: #d0bbbb;
}

  
